<div class="container-fluid">

    <div class="container">

        <div class="row mt-4" style="height:500px">

            <div class="col"></div>

            <div class="col-md-6 bg-white shadow">

                <div class="card bg-info mt-4">
                    <h3 class="ps-3 pt-2 pb-2">Todo List</h3>
                </div>

                <div class="shadow">
                    <div class="input-group p-4">
                        <input #todo type="text" class="form-control" placeholder="Enter Todo">
                        <button (click)="addTodo(todo)" class="btn btn-outline-primary" type="button">+</button>
                    </div>
                </div>
                
                <div class="shadow mt-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of todoList; index as no">
                                <td>{{no+1}}</td>
                                <td>{{i}}</td>
                                <td>
                                    <button (click)="deleteTodo(no)" class="btn btn-outline-danger">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>